@tailwind base;

@layer base {
  body {
    @apply bg-indigo-100
  }

  h1 {
    @apply font-semibold text-lg sm:text-2xl;
  }

  h2 {
    @apply text-base sm:text-xl;
  }

  a {
    @apply text-blue-700;
  }

  a:hover {
    @apply no-underline text-shadow-pink
  }

  div.scrolled {
    @apply shadow;
  }

  nav.scrolled {
    @apply shadow;
    border-bottom: 0px;
  }

  @media print {
    *, .no-print {
     visibility: hidden;
    }

    main * {
      visibility: visible;
    }

    @page {
      margin-top: -24px;
    }
  }

  /* Prevent text cutoff in mermaid.js figures */
  .label foreignObject {
    overflow: visible;
  }

  pre {
    @apply whitespace-pre overflow-x-auto;
  }
}

@tailwind components;
@tailwind utilities;
